<div class="container-fluid footer-wrapper">
  <div class="row">
    <div class="col-md-12 top">
      <div class="col-md-6">
        <span>Special Offers</span>
        <span>Public Reviews</span>
        <span>Public Request</span>
        <span>FAQs</span>
      </div>
      <div class="col-m-6" style="text-align: right;">
        <span>About Us</span>
        <span>Career</span>
        <span>Contact Us</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 wrapper-middle">
      <div class="col-md-8 col-md-offset-4 middle" style="text-align: right;">
        <span>Privacy Rights</span>
        <span>Terms & Conditions</span>
        <span>Give us Feedback</span>
        <span>Get Email Updates</span>
      </div>
    </div>
  </div>
</div>
